.homepage {
  width: 50%;
  height: 600px;
  border: 1px solid silver;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.edit-profile {
  width: 100%;
  border-bottom: 1px solid silver;
  height: 90px;
  display: flex;
  justify-content: space-around;
}

.edit-profile div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-profile div p {
  font-size: 14px;
}

.edit-profile div button {
  height: 30px;
  width: 60px;
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 5px;
}

.profile-all {
  width: 100%;
  border: 1px solid red;
}

.photo {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.name {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.bio {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
